a{
  color: MediumSpringGreen;
}

.content{
    display: grid; 
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 50px 6fr;
} 
.one{
    grid-column: 1 / 4;
    grid-row: 1 / 2;   
}
.two{
    grid-column: 1 / 4;
    grid-row: 2 / 3; 
}
.three{
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}
.four{
    grid-column: 3 / 4;
    grid-row: 2 / 3;
}
